@page
@model ChurchNET.Pages.BeliefsModel
@{
    ViewData["Title"] = "Beliefs";
}

@section banner  {
    <div class="section no-pad-bot banner banner-flex" id="beliefs-banner">
        <div class="container grey-text text-lighten-2">
            <div class="row">
                <div class="col l12">
                    <h3 class="center white-text">Seventh-day Adventist Church Beliefs</h3>
                </div>
            </div>
        </div>
        <br><br>
    </div>
}

<div class="container">
    <partial name="_BulletinPartial" />
    <div class="row">
        <div class="col s12 l9">
            <h3 class="lime-text text-darken-4">Seventh-Day Adventist Beliefs</h3>
            <p>
                Salvation is free, a gift of God's grace, made possible through the sinless life, and the
                atoning sacrifice of Jesus Christ, the Son of God, and is accepted by faith on the part of the
                believer. We believe that we can have victory over sin by the power of the indwelling Holy
                Spirit, but that if we sin, forgiveness is available through Jesus Christ.
            </p>
            <p>
                In one God, a unity of three co-eternal beings, Father, Son and Holy Spirit. This loving God
                is the Creator and Sustainer of all things, and He has revealed Himself to humanity in His
                inspired Word, the Bible. We believe that the Bible is the only rule of faith and practice for
                the Christian. We urge its daily study aided by prayer and the guidance of the Holy Spirit.
            </p>
            <p>
                The Ten Commandments are a transcript of the character of God and a revelation of His will.
                We believe that we should keep His commands (including the fourth, which enjoins the
                observance of the seventh day of the week as God's Sabbath), not as a means to salvation,
                but as a response of love for His loving salvation.
            </p>
            <p>
                That Jesus is presently ministering in our behalf in the heavenly sanctuary, and in the soon
                return of Jesus to bring full redemption to His people. We believe that the faithful who die
                prior to the Second Coming will rest in the grave until the resurrection at the coming of
                Christ. We believe in the annihilation of the wicked by the fire that purifies the earth during
                the executive phase of the judgment.
            </p>
            <p>
                In spiritual gifts, including the gift of prophecy, and that the gifts are for the edifying of the
                entire church.
            </p>
            <p>
                That our body is the temple of the Holy Spirit, and proper care of our body is part of true
                spiritual living... we are Christ's ambassadors on this earth, and as such our lives should
                reflect His character, and that while Christ-like behavior does not produce salvation, it is the
                fruit of genuine conversion.
            </p>
            <p>
                For a full list of Seventh-Day Adventist Beliefs go to the official
                <a href="http://www.adventist.org/beliefs/">Seventh-Day Adventist Website</a>.
            </p>
            <p>
                And for a list of the 28 fundamental beleifs vist
                <a href="http://www.adventist.org/beliefs/fundamental/">Seventh-Day Adventist Fundamenal Beliefs</a> page.
            </p>
        </div>
        <partial name="_SideNavPartial" />
    </div>
</div>