@page
@model ChurchNET.Pages.eventsModel
@{
    ViewData["Title"] = "Events";
}

@section banner  {
    <div class="section no-pad-bot banner banner-flex" id="events-banner">
        <div class="container grey-text text-light-2">
            <div class="row">
                <div class="col l12">
                    <h3 class="center green-text text-darken-2">Harrison Seventh-day Adventist Church Events</h3>
                </div>
            </div>
        </div>
        <br><br>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="lime-text text-darken-3">Church Events</h3>
            <hr />
            <br />
            <div id="cooking">
                <h4 class="lime-text text-darken-3">Cooking School</h4>
                <p class="flow-text">
                    Come learn how to use substitutions to transform your old favorite recipes into healthy recipes!
                </p>
                <p class="flow-text">
                    This event will be held at the <strong>Harrison SDA  Church 8419 Hwy 58, Harrison, TN 37341.</strong> <br />
                    Event Date and Time: <strong>Sunday,  October 8th at 6-8pm</strong>
                </p>
                <p class="flow-text">
                    Click here to register for this event:
                    <a class="waves-effect waves-light btn green darken-4" href="https://forms.gle/wAMQzrs6zh2dMHy76" target="_blank">
                        <i class="material-icons right">check_circle</i>Register
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>