@page
@model ChurchNET.Pages.eventsModel
@{
    ViewData["Title"] = "Events";
}

@section banner  {
    <div class="section no-pad-bot banner banner-flex" id="events-banner">
        <div class="container grey-text text-light-2">
            <div class="row">
                <div class="col l12">
                    <h3 class="center green-text text-darken-2">Harrison Seventh-day Adventist Church Events</h3>
                </div>
            </div>
        </div>
        <br><br>
    </div>
}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="lime-text text-darken-3">Church Events</h3>
                <hr />
                <br />
                <div>
                    <img src="images/BestWeigh.png" alt="Best Weigh" width="400" />
                </div>
                <p  id="bestweigh" class="flow-text">
                    <strong>Best Weigh</strong> as a nutrition and weight loss program locally sponsored by the Harrison Seventh-day Adventist Church.
                </p>
                <p class="flow-text">
                    This program begins on <strong>January 29, 2023</strong> and ends on <strong>April 2, 2023</strong>. <br />
                    Best Weigh meetings will be held at <strong>8419 Hwy 58, Harrison, TN 37341</strong>. <br />
                    Meeting will be held each Sunday evening form <strong>6:00 pm</strong> to <strong>7:30 pm</strong>. <br />
                    The cost for this 10-week program is only <strong>$20.00</strong>. <br />
                </p>
                <p class="flow-text">
                    Click here to register for this event:
                    <a class="waves-effect waves-light btn green darken-4" href="https://docs.google.com/forms/d/e/1FAIpQLSdkOl6r--8B3-dx2zdLHaZnSfCEcihkt_9ZB_U7b_EME5MMZA/viewform" target="_blank">
                        <i class="material-icons right">check_circle</i>Register
                    </a>
                </p>
            </div>
        </div>
    </div>