@page
@model ChurchNET.Pages.LinksModel
@{
    ViewData["Title"] = "Links";
}

@section banner  {
    <div class="section no-pad-bot banner banner-flex" id="links-banner">
        <div class="container grey-text text-lighten-2">
            <div class="row">
                <div class="col l12">
                    <h3 class="center white-text">Seventh-day Adventist Links</h3>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <partial name="_BulletinPartial" />
    <div class="row">
        <div id="links" class="col s12 l9">
            <div class="row">
                <div class="col s12">
                    <h3 class="lime-text text-darken-4">Common Links</h3>
                </div>
                <div class="col s12 m6">
                    <p><b>Bible Studies</b></p>
                    <ul>
                        <li>
                            <a href="http://www.amazingfacts.org/" target="_blank">Amazing Facts</a>
                        </li>
                        <li>
                            <a href="http://bible.crosswalk.com/" target="_blank">Bible CrossWalk</a>
                        </li>
                        <li>
                            <a href="http://www.bibleuniverse.com" target="_blank">Bible Universe</a>
                        </li>
                        <li>
                            <a href="http://web2.airmail.net/dpelc/yellow/" target="_blank">God's Yellow Pages</a>
                        </li>
                        <li>
                            <a href="http://www.hopetalk.org" target="_blank">HopeTalk Bible Study Portal</a>
                        </li>
                        <li>
                            <a href="http://www.ssnet.org/bsc/ihs/ihs.html" target="_blank">In His Steps</a>
                        </li>
                        <li>
                            <a href="http://www.moreaboutjesus.org/" target="_blank">More About Jesus (Teens)</a>
                        </li>
                        <li>
                            <a href="http://www.ssnet.org/" target="_blank">Sabbath School Network</a>
                        </li>
                        <li>
                            <a href="http://www.sabbathtruth.com" target="_blank">Sabbath Truth</a>
                        </li>
                        <li>
                            <a href="http://www.kodachrome.org/spiritgift/" target="_blank">Spiritual Gifts Test</a>
                        </li>
                    </ul>
                    <p><b>Ellen G. White</b></p>
                    <ul>
                        <li><a href="http://www.whiteestate.org" target="_blank">Ellen G. White Estate</a></li>
                        <li>
                            <a href="http://www.whiteestate.org/search/search.asp" target="_blank">
                                Search Ellen G. White Writings
                            </a>
                        </li>
                    </ul>
                    <p><b>Kids' Stuff</b></p>
                    <ul>
                        <li>
                            <a href="http://www.oneplace.com/Ministries/Adventures_in_Odyssey/" target="_blank">
                                Adventures in Odyssey
                            </a>
                        </li>
                        <li>
                            <a href="http://www.gardenofpraise.com/bibllnks.htm" target="_blank">
                                Kids' Bible Activities
                            </a>
                        </li>
                        <li>
                            <a href="http://www.bigidea.com" target="_blank">
                                The Veggie Tales Site
                            </a>
                        </li>
                        <li>
                            <a href="http://www.bozthebear.com" target="_blank">
                                Boz The Green Bear Next Door
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col s12 m6">
                    <p><b>Media</b></p>
                    <ul>
                        <li>
                            <a href="http://www.3abn.org/" target="_blank">3ABN</a>
                        </li>
                        <li>
                            <a href="http://www.adventistbookcenter.com/" target="_blank">Adventist Book Center</a>
                        </li>
                        <li>
                            <a href="http://www.awr.org/" target="_blank">Adventist World Radio</a>
                        </li>
                        <li>
                            <a href="http://www.digitalhymnal.org/dhindex.cfm" target="_blank">Digital	Hymnal</a>
                        </li>
                        <li>
                            <a href="http://www.iiw.org/" target="_blank">It Is Written</a>
                        </li>
                        <li>
                            <a href="http://www.libertymagazine.org/" target="_blank">Liberty Magazine</a>
                        </li>
                        <li>
                            <a href="http://www.lifetalk.net/" target="_blank">Life Talk Radio</a>
                        </li>
                        <li>
                            <a href="http://www.pacificpress.com/" target="_blank">Pacific Press Publishing</a>
                        </li>
                        <li>
                            <a href="http://www.rhpa.org/" target="_blank">Review and Herald Publishing</a>
                        </li>
                        <li>
                            <a href="http://www.thequiethour.org" target="_blank">The Quiet Hour</a>
                        </li>
                        <li>
                            <a href="http://www.vop.com/" target="_blank">Voice of Prophecy</a>
                        </li>
                    </ul>
                    <p class="MsoNormal"><b>Live Radio</b></p>
                    <ul>
                        <li>
                            <a href="http://www.lifetalk.net/">
                                LifeTalk Radio - Real&nbsp; Player
                            </a>
                        </li>
                        <li>
                            <a href="http://www.plr.org/plrlive.ram">Positive Life Radio - Real Player</a>
                        </li>
                        <li>
                            <a href="http://www.plr.org/live.asx">Positive Life Radio - Windows Media Player</a>
                        </li>
                    </ul>
                    <p><b>Appliation</b></p>
                    <ul>
                        <li><a href="http://e-sword.net/" target="_blank">E-Sword Bible Study software.</a></li>
                    </ul>
                    <p>
                        If you would like personal Bible studies you can email use at
                        <a href="mailto:HarrisonSDAChurch.TN@gmail.com?subject=Bible Studies">HarrisonSDAChurch.TN@gmail.com</a>.
                    </p>

                </div>
            </div>
        </div>
        <div class="col l3 hide-on-med-and-down">
            <partial name="_SideNavPartial" />
        </div>
    </div>
</div>