@page
@model ChurchNET.Pages.MissionsModel
@{
    ViewData["Title"] = "Missions";
}

@section banner  {
    <div class="section no-pad-bot banner banner-flex" id="missions-banner">
        <div class="container grey-text text-lighten-2">
            <div class="row">
                <div class="col l12">
                    <h3 class="center white-text">Harrison Food Mission and Project Rescue</h3>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col s12 l9">
            <h3 class="lime-text text-darken-4">Harrison Food Mission and Project Rescue</h3>
            <p>
               Our Harrison Food Mission works with Project Rescue to provide food and person-to-person kindness 
               through in-home visits to those in need with drive-thru services and in-home deliveries.  We feed
               over 110 families every week.
            </p>
            <p>
                From the Homeless, to the McClellan family shelter, and to families just struggling to get by and 
                on the edge. Jesus says in Matthew 25:35, “When I was hungry you gave me food…”  And in Matthew 25:40 
                “When you do it for the least of these you do it for me…” and that is our guiding inspiration.  We 
                are all just a circumstance or a decision away from being “the least of these.”  
            </p>
            <p>
                We use a refrigerated truck to pick up our food from Trader Joe’s and Walmart.  This helps keep food 
                from spoiling, but with gas prices skyrocketing our gas bill is now over $1,000 a month.  We need 
                your support with this and other expenses to continue our outreach and mission.  Please pray about 
                this mission and if you are called help us help others. 
            </p>
            <p>
                <strong>Learn more about the Project Rescue mission on Facebook:</strong> <a href="https://www.facebook.com/PROJECTRESCUE1" target="_blank">https://www.facebook.com/PROJECTRESCUE1</a>.
            </p>
            <p>
                <strong>To donate by mail…</strong><br />
                Please make your check payable to Project Rescue and send to:


            </p>
            <p style="margin-left:25px">
                Project Rescue<br />
                C/O Cherrie Hydas, Treasurer<br />
                1904 Prigmore Road,<br />
                East Ridge, TN 37412. 
            </p>
            <p>
                <strong>To Donate Electronically…</strong>
            </p>
            <p>
                You can find a link to our PayPal account and donate on our Facebook page: <a href="https://www.facebook.com/PROJECTRESCUE1" target="_blank">https://www.facebook.com/PROJECTRESCUE1</a>
            </p>
            <p>
                Look in the About Section and click on the See More to see our PayPal link<br />
                <img src="~/images/AboutRescue.png" />
            </p>
            <p>
                PayPal Direct Link: <a href="https://www.paypal.com/donate/?hosted_button_id=4BF9DFMDVM7DS&Z3JncnB0=" target="_blank">https://www.paypal.com/donate/?hosted_button_id=4BF9DFMDVM7DS&Z3JncnB0=</a>
            </p>
            <p>
                <i>*Project Rescue is a 501(c)(3) organization</i>
            </p>
        </div>
        <partial name="_SideNavPartial" />
    </div>
</div>