@*Alert Mesage*@
<div id="alert" class="black" style="line-height:0">
    <p class="white-text center-align z-depth-3" style="margin:0">
        <a class="brown-text" href="https://answersinprophecy.com" target="_blank">
            <img src="/images/acts2021.jpg" alt="ACTS 20:21" />
        </a>
    </p>
</div>
