@*Alert Mesage*@
<div class="center-align white" style="display: flex; justify-content: center;">
    <div style="margin-right: 1rem;">
        <a href="Events#cooking" class="lime-text text-darken-4">
            <div style="font-size: 1rem; font-weight:bold">Cooking Class</div>
            <div style="font-size: 1rem; font-weight:bold">Sunday, October 8th at 6-8pm</div>
        </a>
    </div>
    <div>
        <a class="waves-effect waves-light btn green darken-4" style="margin-top: 4px;"
           href="https://forms.gle/wAMQzrs6zh2dMHy76"
           target="_blank">
            <i class="material-icons right">check_circle</i>Register
        </a>
    </div>
</div>


@*<div class="center-align white" style="display: flex; justify-content: center;">
    <div class="">
        <a href="Events#bestweigh">
            <img src="~/images/BestWeigh-Banner.png" height="50" alt="Best Weigh" style="padding:0; margin:0;" />
        </a>
    </div>
    <div class="green-text text-lighten-1">
        <div style="font-size: 1rem; font-weight:bold">Jan 29 - Apr 2 2023</div>
        <a class="waves-effect waves-light btn green darken-4"
           href="https://docs.google.com/forms/d/e/1FAIpQLSdkOl6r--8B3-dx2zdLHaZnSfCEcihkt_9ZB_U7b_EME5MMZA/viewform"
           target="_blank">
            <i class="material-icons right">check_circle</i>Register
        </a>
    </div>
</div>*@


@*<div id="alert" class="red darken-4">
    <p class="white-text center-align">
        The Harrison SDA Church will be having Church in the Park (Booker T. Washington State Park) on Saturday, May 21, 2022.<br /> 
        The Harrison SDA Church building will be <strong>closed</strong>.
    </p>
</div>
*@
@*
<a class="brown-text modal-trigger" href="#modal1">
    <div id="alert" class="black-alert" style="line-height:0">
        <p class="white-text center-align z-depth-3" style="margin:0">
            <img src="~/images/TheGreatReset_Banner.png" alt="The Great Reset 2021" />
        </p>
    </div>
</a>

<!-- Modal Structure -->1
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/TheGreatRest_OCT-8-2021.jpg" />
                    </div>
                    <div class="card-content">
                        <p>
                            Please join use at the Harrison Seventh-day Adventist church on October 8, 2021 at 7:00pm to watch this series.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@