@*Alert Mesage*@
<a class="brown-text modal-trigger" href="#modal1">
    <div id="alert" class="black-alert" style="line-height:0">
        <p class="white-text center-align z-depth-3" style="margin:0">
            <img src="~/images/TheGreatReset_Banner.png" alt="The Great Reset 2021" />
        </p>
    </div>
</a>

<!-- Modal Structure -->1
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/TheGreatRest_OCT-8-2021.jpg" />
                    </div>
                    <div class="card-content">
                        <p>
                            Please join use at the Harrison Seventh-day Adventist church on October 8, 2021 at 7:00pm to watch this series.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>*@
</div>