<div class="btn-bulletin hide-on-med-and-down">
    <a href="~/Bulletin.pdf" class="z-depth-2 btn-floating btn-large green darken-4 waves-effect waves-light tooltipped" data-position="right" data-tooltip="Church Bulletin">
        <i class="large  material-icons">chrome_reader_mode</i>
    </a>
</div>