<div class="btn-bulletin hide-on-med-and-down">
    <a href="~/Bulletin.pdf" class="btn-floating btn-large green darken-4 waves-effect waves-light tooltipped" data-position="right" data-tooltip="Church Bulletin">
        <i class="far fa-address-card fa-2x"></i>Church Bulletin
    </a>
</div>