<aside style="top: 0px;">
    <header>
        <h4 class="lime-text text-darken-4">Links</h4>
    </header>

    <div class="collection">
        @*<a href="~/Bulletin.pdf" class="collection-item green-text text-darken-4 waves-effect waves-green">
            <i class="far fa-address-card fa-2x"></i>
            Church Bulletin
        </a>*@
        <a href="http://AdventistGiving.org" class="collection-item green-text text-darken-4 waves-effect waves-green">
            <i class="fas fa-hand-holding fa-2x"></i>
            Adventist Giving
        </a>
        <a href="http://ssnet.org/study-guides/" class="collection-item green-text text-darken-4 waves-effect waves-green">
            <i class="fas fa-graduation-cap fa-2x"></i>
            Sabbath School
        </a>
        <a href="http://www.biblegateway.com" class="collection-item green-text text-darken-4 waves-effect waves-green">
            <i class="fas fa-bible fa-2x"></i>
            Bible Gateway
        </a>
        <a href="http://www.kodachrome.org/spiritgift/" class="collection-item green-text text-darken-4 waves-effect waves-green">
            <i class="fas fa-dove fa-2x"></i>
            Spiritual Gifts Test
        </a>
        <a href="http://www.bibleuniverse.com" class="collection-item green-text text-darken-4 waves-effect waves-green">
            <i class="fas fa-globe-americas fa-2x"></i>
            Bible Universe
        </a>
        <a href="http://www.digitalhymnal.org/dhindex.cfm" class="collection-item green-text text-darken-4 waves-effect waves-green">
            <i class="fas fa-music fa-2x"></i>
            Digital Hymnal
        </a>
        <a href="http://www.whiteestate.org/" class="collection-item green-text text-darken-4 waves-effect waves-green">
            <i class="fas fa-user-circle fa-2x"></i>
            Ellen G. White
        </a>
    </div>
</aside>